# Исключаем директории и файлы, которые не нужно коммитить
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
env/
venv/
ENV/
VENV/

# Конфигурационные файлы редакторов/IDE
.vscode/
.idea/

# Логи и временные файлы
*.log
*.tmp
*.swp
*.swo

# База данных SQLite (если используется)
*.sqlite3

# Настройки окружения (если используются)
.env
